body {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  background-color: #303032;
  font-family: sans-serif;
}

main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.drumkit-buttons {
  width: 750px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.drumkit-buttons button {
  width: 120px;
  height: 120px;
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  position: relative;
  appearance: none;
  padding: var(--space-xl) var(--space-4xl);
  font-size: 10px;
  font-family: sans-serif;
  border: 2px black solid;
  border-radius: 14px;
  background-color: rgb(78, 71, 71);
  cursor: pointer;
  outline: none;
  color: white;
  font-size: 100px;
  text-transform: uppercase;
  line-height: 0;
}

.drumkit-buttons button span {
  position: absolute;
  width: 50%;
  height: 50%;
  z-index: -1;
  border-radius: 70% 50%;
  border: 18px solid rgb(233, 236, 245);
  animation: blur 0.8s both;
  pointer-events: fill;
}

.drumkit-buttons button.playing {
  box-shadow: 20px 20px 20px rgba(var(--color-light), 201),
    inset -2px -2px 2px rgba(var(--color-light), 0.9),
    inset -3px -3px 4px rgba(var(--color-light), 0.9),
    inset -6px -6px 12px rgba(var(--color-light), 0.9),
    inset -8px -8px 16px rgba(var(--color-light), 0.9),
    -1px -1px 1px rgba(var(--color-shadow), 0.06),
    inset 2px 2px 2px rgba(var(--color-shadow), 0.08),
    inset 3px 3px 4px rgba(var(--color-shadow), 0.08),
    inset 6px 6px 12px rgba(var(--color-shadow), 0.08),
    inset 8px 8px 16px rgba(var(--color-shadow), 0.08);
}

@keyframes blur {
  from {
    opacity: 2;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(4);
  }
}

/* chanels */
.chanels {
  width: 750px;
  gap: 30px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chanelContainer {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.recordBtn,
.playBtn {
  width: 60px;
  height: 60px;
  background-color: rgb(0 0 0 / 15%);
  border: 3px solid rgb(154 154 154);
  border-radius: 70%;
  box-shadow: inset 1px 1px 1px rgba(var(--color-light), 1),
    -2px -2px 2px rgba(var(--color-light), 0.9),
    -4px -4px 6px rgba(var(--color-light), 0.9),
    -8px -8px 16px rgba(var(--color-light), 0.9),
    -12px -12px 24px rgba(var(--color-light), 0.9),
    inset -1px -1px 1px rgba(var(--color-shadow), 0.06),
    2px 2px 2px rgba(var(--color-shadow), 0.08),
    4px 4px 6px rgba(var(--color-shadow), 0.08),
    8px 8px 16px rgba(var(--color-shadow), 0.08),
    12px 12px 24px rgba(var(--color-shadow), 0.08);
  position: relative;
  outline: 0;
  flex-shrink: 0;
}

.recordBtn:focus,
.recordBtn:active,
.playBtn:focus,
.playBtn:active {
  box-shadow: 1px 1px 1px rgba(var(--color-light), 1),
    inset -2px -2px 2px rgba(var(--color-light), 0.9),
    inset -3px -3px 4px rgba(var(--color-light), 0.9),
    inset -6px -6px 12px rgba(var(--color-light), 0.9),
    inset -8px -8px 16px rgba(var(--color-light), 0.9),
    -1px -1px 1px rgba(var(--color-shadow), 0.06),
    inset 2px 2px 2px rgba(var(--color-shadow), 0.08),
    inset 3px 3px 4px rgba(var(--color-shadow), 0.08),
    inset 6px 6px 12px rgba(var(--color-shadow), 0.08),
    inset 8px 8px 16px rgba(var(--color-shadow), 0.08);
}

.recordBtn::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #c52424;
  left: calc(50% - 12px);
  top: calc(50% - 12px);
}

.playBtn::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-bottom: 17px solid transparent;
  left: calc(50% - 7px);
  top: calc(50% - 15px);
}

.playBtn[disabled],
.recordBtn[disabled] {
  box-shadow: none;
  background: #dadce0;
}

.playBtn[disabled]::after {
  border-left: 25px solid grey;
}

.recordBtn[disabled]::after {
  background: grey;
}

.playBtn.stopBtn::after {
  border: 12px solid #c52424;
  left: calc(50% - 11px);
  top: calc(50% - 12px);
}

/* progress bar */
.progressBar {
  width: 100%;
  height: 27px;
  background: white;
  position: relative;
}

.progressBar span {
  position: absolute;
  height: 20px;
  background: #0f1d38;
  top: 3px;
  left: 5px;
  right: 5px;
  transform-origin: left;
  transform: scaleX(0);
  /* animation: progressBarAnim 5s forwards linear; */
}

.timeMoment {
  position: absolute;
  height: 100%;
  top: 0;
  width: 2px;
  background: #49abff;
}

@keyframes progressBarAnim {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
